body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  display: block;
}
.row-to form {
  margin: 0 auto;
  width: 100%;
}
h1,
h2,
h3 {
  text-shadow: 2px 2px 2px rgb(33, 39, 26);
  padding: 0 0 10px 0;
}
p {
  margin: 15px;
}
.newcity {
  margin-top: 15px;
  padding: 5px;
  text-align: right;
}
.active {
  height: 25px;
}
#icon {
  max-width: 30%;
  height: auto;
  margin: 0 30px 20px 0;
  padding: 0 25px;
}
#data {
  padding: 5px;
  font-size: 28px;
}
span,
#tempFahrenheit,
#tempCelsius {
  font-size: 32px;
}
.col-6 {
  text-align: left;
}
.weather-forecast {
  margin-top: 15px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  padding: 10px 0 auto;
  width: 15%;
}

.githubLink {
  font-size: smaller;
  font-weight: 200;
  padding: 10px auto;
  margin: 10px;
}
.city {
  padding: 15px;
}
.row-cols-auto {
  text-align: center;
}
